<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @*Baþlýk*@
    <header class="container">
        <h1>Welcome to Dutch Treat</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>

    @* section -> sayfalarda deðiþmesi istenen görsel alan *@
    @*Ana bölüm*@
    <section class="container">

        <h2>@ViewBag.Title</h2>

        @* RenderBody --> bir cshtml dosyasýnýn gövdesini alacak ve onu oluþtururken buraya yapýþtýracak*@
        @RenderBody()

    </section>
    @*Alt Bilgi*@
    <footer class="container">
        <div class="text-center">
            Copyright 2021 Dutch Treat LLc
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>

    @*RenderSection -> view ý kullanan sayfalarda onlarý sayfanýn belirli bölümlerine enjekte
        etmek için kullanýlabilecek bir bölüm oluþturmamýza olanak tanýr*@
    @RenderSection("Scripts", false)

</body>
</html>