@*method="post" --> formu sunucuya geri göndermek içi gönderildiðinin söylenmesidir.*@
@*input ve text alanlarýnýn her birinin kendisiyle iliþkilendirilmiþ bir adý olmasý gerekir
    aksi halde controller da post çaðrýsýnda model e veriler düþmez
    iliþkilendirilmiþ alan [name="iliþkilendirilmiþAd"]
    Bu ad , o input a veya text alanýna hangi verilerin nasýl yerleþtirileceðini ve
    gönderildiðinde buna ne ad verileceðini bilmek için kullanýlýr*@

@model ContactViewModel
@*ContactViewModel i _ViewImports da dahil etmemiz gerekir aksi halde tanýmsýz olur.
    ContactViewModel i baðlayarak inputlardaki alanlarý asp-for ile kullanabiliriz.
    Çünkü artýk modeldeki nesneleri görür *@

@{
    ViewBag.Title = "Contact Us";
}

@*label larýda asp-for ile name lerle baðladýðýmýz için label üzerine týklandýðýnda ilgili özelliðine yönlendirecek
    tüm formlar için label lara hedef belirlemek gerekir, çünkü kullanýcýlarýn çalýþmayý umduðu þey budur.*@

@*buraya yerleþtirilen her þey jquery yüklendikten sonra, yine o sayfaya kendini enjekte edecektir*@
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    @*buradaki sýralama önemlidir , bu yüzden önce validation olamlý*@
}

<form method="post">
    @* asp-validation-summary = "All"-->Sunucuya gittikten sonra bir doðrulama sorunu olduðunu bildiðimizde,
        bize tüm hatalarý gösterecektir.
        ModelOnly - yalnýzca tüm ViewModel problemiyle ilgili hatalarý gösterecektiri*@
    <div asp-validation-summary="ModelOnly"></div>
    <label asp-for="Name">Your Name:</label>
    <br />
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Email">Email:</label>
    <br />
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Subject">Subject:</label>
    <br />
    <input type="text" asp-for="Subject" />
    <span asp-validation-for="Subject"></span>
    <br />
    <label asp-for="Message">Message:</label>
    <br />
    <textarea rows="4" asp-for="Message"></textarea>
    <span asp-validation-for="Message"></span>
    <br />
    <input type="submit" value="Send Message" />
</form>